.account {
  width: 80%;
  margin: auto;
}

.formatting-top-account {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.input-profil {
  display: none;
}

.framework-profil {
  border: solid 3px white;
  width: 100px;
  height: 100px;
}

.fa-camera {
  position: relative;
  top: 85px;
  left: 50px;
}

.formatting-newpost {
  background-color: $bgcolor-secondary;
  border: 4px solid $bgcolor-main;
  border-radius: 20px;
  padding: 1em;
}

.button-form-account {
  height: 50px;
  border-radius: 50px;
  border: solid $bgcolor-main;
}
