.account {
  width: 40%;
  margin: auto;
}

.formatting-top-account {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2em;
}

.input-profil {
  display: none;
}

.framework-profil {
  border: solid 3px white;
  width: 100px;
  height: 100px;
}

.formatting-newpost {
  background-color: $bgcolor-newpost;
  border: 4px solid $bgcolor-main;
  border-radius: 20px;
  padding: 1em;
}

.formatting-button-publish-newpost{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.formatting-post{
  background-color: $bgcolor-post;
  border: 4px solid $bgcolor-main;
  border-radius: 20px;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.hearder-post{
  display: flex;
  justify-content: space-between;
}

.post-content{
border: 3px solid $color-post-border-content;
margin-bottom: 1em;
padding: 0 0.4em;
background-color: $bgcolor-post-border-content;
}

.line-comment{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: $bgcolor-comment-published;
  border-radius: 20px;
  margin: 0.5em  0;
  padding: 0.3em 0.4em;
}

.formatting-comment-published{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

// .comment-published{
//   background-color: $bgcolor-comment-published;
// }

@media screen and (max-width: 1024px) {
  .account {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .account {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .account {
    width: 80%;
    margin: auto;
  }
}