.account {
  width: 80%;
  margin: auto;
}

.formatting-top-account {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2em;
}

.input-profil {
  display: none;
}

.framework-profil {
  border: solid 3px white;
  width: 100px;
  height: 100px;
}

.formatting-newpost {
  background-color: $bgcolor-secondary;
  border: 4px solid $bgcolor-main;
  border-radius: 20px;
  padding: 1em;
}
