.button-form {
  border-radius: 50px;
  background-color: $bgcolor-button;
  margin-top: 2em;
  border: solid $bgcolor-main;
  padding: 1em;
  font-weight: 600;
}

.button-form-account {
  height: 30px;
  border-radius: 50px;
  border: solid $bgcolor-main;
}

.button-publish-newpost{
  border: solid 3px $bgcolor-main;
  font-weight: 700;
  padding: 5px 10px;
  background-color: $bgcolor-button-publish;
}

.button-delete-account {
  border: solid 3px red;
  border-radius: 50px;
  margin-top: 1em;
}

.button-delete-post{
  border: none;
  font-size: 20px;
}

.button-publish-comment{
  margin-top: 0.5em;
  border: solid 3px $bgcolor-main;
  font-weight: 700;
  padding: 5px 10px;
  background-color: $bgcolor-button-publish;
}

.button-delete-comment {
  margin-left: 0.5em;
}

