.logo {
  display: flex;
  justify-content: center;
  height: 550px;
  margin-top: -10em;
}

.links-home {
  display: flex;
  justify-content: center;
  gap: 2em;
  a {
    position: relative;
    text-decoration: none;
    color: black;
  }
  .nav-active {
    &::after {
      content: "";
      background: $bgcolor-main;
      width: 110%;
      height: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: -5em;
  }
}
