$bgcolor-body: #9edbff;
$bgcolor-main: #0047a3;
$bgcolor-button: #9edbff;
$bgcolor-button-publish: #6495ED;
$bgcolor-secondary: #f2f3f4;
$bgcolor-post: #f2f3f4;
$bgcolor-newpost: #f2f3f4;
$color-post-border-content: #9edbff;
$bgcolor-post-border-content: white;
$bgcolor-comment-published: #DCDCDC;
